/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Crafty+Girls);

$font-family-main: 'Lora', serif;
$font-family-headings: 'Gorditas', serif;
$body-backgound: #F08080;
$nav-background: #CD2626;
$dark-gray-font: #2e3439;
$font-color: #F7F7F7;

.navbar-custom{
  background-color: $nav-background;
  border: transparant;
  margin-bottom: 0px;
  border: transparent;
}
body{
  background-color: $body-backgound;
  font-family: $font-family-main, sans-serif;
  height:100%;
  color: $font-color;
  a{
    color: $font-color;
    font-size: 2rem;
    font-family: $font-family-headings;
  }

   .table th, .table td {
       border-top: none !important;
       border-style: none;
   }

   .table-nonfluid {
     width: auto !important;
     margin: auto;
  }

}
